html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Catamaran', 'san-serif';
}

#logo-header {
    width: 225px;
    margin: auto;
}

a {
    text-decoration: none;
}

.skip a {
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 3;
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 6px;
    color: #000000;
    background: #d0d0d0;
}


/* Start Nav Mobile Dropdown */
ul {
    background: #FFFFFF;
    list-style: none;
    margin: auto;
    width: 100%;
    left: 0;
}

nav li {
    color: #000000;
    background: #FFFFFF;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.5s;
    text-align: center;
    z-index: 2;
}

li a {
    color: #000000;
}

nav li:hover, nav li:focus-within {
    background: #d0d0d0;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
}

ul li:hover > ul, ul li:focus-within >
ul, ul li ul:hover, ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}
/* End Nav Mobile Dropdown */

h1 {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 24px;
    padding-top: 24px;
}

p {
    padding: 20px;
}

.gear {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gear2 {
    display: grid;
    grid-template-columns: 1fr;
}

.cameras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lens {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gear-text {
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    row-gap: 50px;
    max-width: 1100px;
}

.photo-link {
    text-align: center;
    color: #000000;
    font-size: 20px;
}

footer p {
    text-align: center;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: auto;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner, .flip-card:focus-within     {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back, .flip-card:focus-within {
    background-color: rgba(0,0,0,0.4);
    color: white;
    transform: rotateY(180deg);
  }

.gallery_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.gallery_column img {
    padding: 5px 10px 5px 10px;
}

.contact-container {
    margin: auto;
    padding: 0 15px 0 15px;
}

legend {
    font-size: 20px;
    text-transform: uppercase;
    cursor: default;
    margin: auto;
}

label {
    display: inline-block;
    margin-right: 10px;
    cursor: default;
    padding: 0 10px 0 0;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border: 2px solid #000000;
    border-radius: 5px;
}

textarea {
    background-color: #eeeeee;
    border: 3px solid #f1f1f1;
    border-radius: 5px;
    margin: 8px 0;
    height: 100px;
    width: 100%;
}

textarea:focus {
    border: 2px solid #000000;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/* @media (prefers-color-scheme: dark) {
    main {
        background: #363636;
    }

    nav li {
        color: #fdfdfd;
        background: #363636;
    }

    nav li:hover, nav li:focus-within {
        background: rgb(138, 138, 138);
    }

    h1 {
        color: #fdfdfd;
    }

    p {
        color: #fdfdfd;
    }

    footer {
        color: #fdfdfd;
        background: #363636;
    }

} */


/* Was prevously 880px */
@media all and (min-width: 481px){

    /* header {
        background-color:  rgb(208, 208, 208);
    } */

    #hide {
        display: none;
    }

/* Start Nav Reset */
    nav img {
        display: none;
    }

    nav ul li ul li {
        all:initial;
        text-transform: uppercase;
        /* text-transform: uppercase; */
        font-size: 1.5vw;
    }

    li a{
        padding: 8px;
        font-size: 14px;
    }

    nav li {
       all:initial;
    }

    nav ul {
        padding: 10px;
        text-align: center;
    }

    nav ul li ul.dropdown {
        all:initial;
    }

    nav li:hover, nav li:focus-within {
        background: #FFFFFF;
        cursor: pointer;
    }

    nav li a:hover, a:target {
        text-decoration: underline;
        /* font-weight: bold; */
        cursor: pointer;
    }
/* End Nav Reset */

    a.active {
        text-decoration: underline;
    }

    #about-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        background-image: url('../images/photography/landscape/3p3a1846-twins_falls.jpg');
    }

    #gear-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        background-image: url('../images/photography/wildlife/752a7337-juvenile_bald_eagle.jpg');
    }

    #contact-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        background-image: url('../images/photography/landscape/3p3a9075-great_gully_falls.jpg');
    }

    h1 {
        font-size: 30px;
    }

    .body-text {
        max-width: 80%;
        margin: auto;
    }

    .gallery_column img {
        opacity: 0.7;
    }

    .gallery_column img:hover {
        /* filter: grayscale(100%); */
        opacity: 1.0;
    }

    .photo-container {
        width: 100%;
        height: 100%;
    }

    .photo-container img {
        width: 100%;
        height: 100%;
    }

    .flip-card-container {
        width: 100%;
        height: 100%;
    }
    .flip-card {
        background-color: transparent;
        width: 400px;
        height: 280px; 
        border: 1px solid #f1f1f1;
        perspective: 1000px; 
        margin: auto;
      }

    .gear {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .gear img {
        padding: 10px;
        width: 400px;
    }

    .gear2 {
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
        margin: auto;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 750px;
        margin: auto;
        text-align: center;
        padding: 0 15px 0 15px;
    }

    legend {
        font-size: 20px;
        margin: 0;
        padding: 10px 0 10px 0;
    }

    label {
        margin-right: 10px;
        padding: 0 10px 0 0;
    }

    input {
        padding: 12px 20px;
        margin: 8px 0;
    }

    textarea {
        margin: 8px 0;
        height: 100px;
    }
}

/* was previously 769px */
@media all and (min-width: 905px){

    main{
        padding-top: 140px;
    }

    /* .nav_container {
        max-width: 1100px;
        margin: auto;
    } */

    #logo-header {
        width: 225px;
        margin: 0 0 0 30px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        height: 140px;
        background: #FFFFFF;
        width: 100%;
        z-index: 1;
    }

    li a {
        font-size: 14px;
    }

    h1 {
        text-align: center;
    }

    .gear2 {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1100px;
    }

    .gallery_row {
        padding: 0 20px 0 20px;
    }

    .gallery_column {
        flex: 50%;
        max-width: 50%;
    }

    .gallery_column img {
        vertical-align: middle;
        width: 100%;
        padding: 8px 8px 8px 8px;
    }

    .photo-grid {
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        row-gap: 50px;
        margin: auto;
     }

    .photo-container {
        width: 100%;
        height: 100%;
    }

    .photo-container img {
        width: 100%;
        height: 100%;
    }

    .flip-card-container {
        width: 100%;
        height: 100%;
    }
    .flip-card {
         background-color: transparent;
         width: 450px;
         height: 300px;
         border: 1px solid #f1f1f1;
         perspective: 1000px; /* Remove this if you don't want the 3D effect */
         margin: auto;
       }
}

@media (prefers-reduced-motion){

    .flip-card-inner {
        transition: none;
        transform-style: none;
    }

    .flip-card:hover .flip-card-inner {
        transform: none;
    }

    #about-image {
        background-attachment: revert;
    }

    #gear-image {
        background-attachment: revert;
    }

    #contact-image {
        background-attachment: revert;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0){

    .flip-card-front {
        -webkit-backface-visibility: visible;
    }
}

