html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Catamaran', 'san-serif';
}

#logo-header {
    width: 50%;
    margin: auto;
}

a {
    text-decoration: none;
}

/* a.skip {
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -50px;

}


a.skip:focus{
  top: 10px;
}

*:focus{
  border-top: 2px dashed;
  border-bottom: 2px dashed;
} */

.skip a {
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 6px;
    color: #000000;
    background: #d0d0d0;
}


/* Start Nav Mobile Dropdown */
ul {
    background: #FFFFFF;
    list-style: none;
    margin: auto;
    width: 100%;
    left: 0;
}

nav li {
    color: #000000;
    background: #FFFFFF;
    display: block;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition-duration: 0.5s;
    text-align: center;
}

li a {
    color: #000000;
}

nav li:hover, nav li:focus-within {
    background: #d0d0d0;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
}

ul li:hover > ul, ul li:focus-within >
ul, ul li ul:hover, ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}
/* End Nav Mobile Dropdown */

h1 {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    font-size: 24px;
    padding-top: 24px;
}

p {
    padding: 20px;
}

.gear {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gear2 {
    display: grid;
    grid-template-columns: 1fr;
}

.cameras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lens {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gear-text {
    text-align: center;
}

.photo-containter {
    padding-bottom: 50px;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    margin: auto;
}

.photo-link {
    text-align: center;
    color: #000000;
    font-size: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    padding: 10px;
}

footer p {
    text-align: center;
}

/* @media (prefers-color-scheme: dark) {
    main {
        background: #363636;
    }

    nav li {
        color: #fdfdfd;
        background: #363636;
    }

    nav li:hover, nav li:focus-within {
        background: rgb(138, 138, 138);
    }

    h1 {
        color: #fdfdfd;
    }

    p {
        color: #fdfdfd;
    }

    footer {
        color: #fdfdfd;
        background: #363636;
    }

} */

/* Was prevously 880px */
@media all and (min-width: 481px){

    /* header {
        background-color:  rgb(208, 208, 208);
    } */

    #logo-header {
        width: 25%;
        margin: auto;
    }

/* Start Nav Reset */
    nav img {
        display: none;
    }

    nav ul li ul li {
        all:initial;
        text-transform: uppercase;
        /* text-transform: uppercase; */
        font-size: 1.5vw;
    }

    li a{
        padding: 8px;
        font-size: 14px;
    }

    nav li {
       all:initial;
    }

    nav ul {
        padding: 10px;
        text-align: center;
    }

    nav ul li ul.dropdown {
        all:initial;
    }

    nav li:hover, nav li:focus-within {
        background: #FFFFFF;
        cursor: pointer;
    }

    nav li a:hover, a:target {
        text-decoration: underline;
        /* font-weight: bold; */
        cursor: pointer;
    }
/* End Nav Reset */

    a.active {
        text-decoration: underline;
    }

    #about-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        background-image: url('../images/photography/landscape/3p3a1846-twins_falls.jpg');
    }

    h1 {
        font-size: 36px;
    }

    .body-text {
        max-width: 80%;
        margin: auto;
    }

    .photo-grid {
       grid-template-columns: 1fr 1fr;
       width: 75%;
       margin: auto;
    }

    .photo-containter {
        padding-left: 10px;
        padding-right: 10px;
    }

    .gear {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .gear img {
        padding: 10px;
        width: 400px;
    }

    .gallery {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .gallery img{
        padding: 10px;
        width: 600px;
    }

    .gear2 {
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 769px){

    main{
        padding-top: 150px;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        height: 163px;
        background: #FFFFFF;
    }

    li a{
        font-size: 14px;
    }

    #logo-header {
        margin: 0;
        width: 20%;
    }

    h1 {
        text-align: center;
    }

    .gear2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}